/* =========================
   Base / Atmosphere
   深夜、霧感、安靜
========================= */

body {
  margin: 0;
  font-family: "Noto Serif TC", "Songti TC", serif;
  background-color: #eef1f5;
  color: #303846;
  line-height: 1.9;
}


/* =========================
   Layout
========================= */

.container {
  max-width: 680px;
  margin: 70px auto;
  padding: 48px 44px;
  background-color: #ffffff;
  box-shadow: 0 12px 32px rgba(46, 52, 64, 0.08);
}


/* =========================
   Site Title
========================= */

.site-title {
  text-align: center;
  letter-spacing: 0.25em;
  margin-bottom: 56px;
}

.site-title h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: normal;
  color: #434c6d;
}

.site-title p {
  margin-top: 12px;
  font-size: 0.95em;
  color: #6b7280;
}


/* =========================
   Headings
========================= */

h1,
h2 {
  font-weight: normal;
  color: #434c6d;
}

h2 {
  margin-top: 3em;
  margin-bottom: 1em;
}


/* =========================
   Paragraphs
========================= */

p {
  margin-bottom: 1.8em;
  line-height: 1.85;
}


/* =========================
   Links
========================= */

a {
  color: #5a78a8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}


/* =========================
   Blockquote
   心裡浮現的那一句
========================= */

blockquote {
  margin: 48px 0;
  padding-left: 22px;
  border-left: 4px solid #c7cfdf;
  color: #505a6b;
  font-style: italic;
}


/* =========================
   Final Paragraph / Footer
========================= */

.container p:last-of-type {
  margin-top: 56px;
  font-size: 0.9em;
  color: #6b7280;
}
