/* =========================
   Base
========================= */

body {
  margin: 0;
  font-family: "Noto Serif TC", "Songti TC", serif;
  background-color: #f0f2f6;
  color: #2e3440;
  line-height: 1.9;
}


/* =========================
   Layout
========================= */

.container {
  max-width: 680px;
  margin: 60px auto;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}


/* =========================
   Typography
========================= */

h1,
h2 {
  color: #3b4f6b;
  font-weight: normal;
}

.site-title {
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 50px;
}

p {
  margin-bottom: 1.6em;
  line-height: 1.8;
}


/* =========================
   Links
========================= */

a {
  color: #4c6a92;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* =========================
   Block Elements
========================= */

blockquote {
  margin: 40px 0;
  padding-left: 20px;
  border-left: 4px solid #d0d7e2;
  color: #4a5568;
  font-style: italic;
}


/* =========================
   Footer / Last Paragraph
========================= */

.container p:last-of-type {
  margin-top: 50px;
  font-size: 0.9em;
  color: #6b7280;
}
